* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}


.shapes-container {
    width: 600px;
    height: 600px;
    position: absolute;
    border: 1px solid black;
    padding: 10px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.shape {
    display: inline-block;
    width: 49%;
    height: 49%;
    border: 1px solid black;
}

.shape:hover {
    background-color: rgb(234, 234, 234);
    cursor: pointer;
} 

.shape img {
    width: 100%;
}


.shape-form-container {
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.shape-form-container input {
    width: 100%;
    height: 30px;
    padding: 5px;
    font-size: 15px;
}

.shape-form-container input[type="button"] {
    cursor: pointer;
}
